.nav-container {
  display: flex;
  height: 10vh;
  background-color: #2c0;
  align-items: center;
  justify-content: space-between;
}
.nav-bg {
  height: 100px;
}

.logo-size {
  height: 80px;
  width: 200px;
  margin-left: 20px;
}
.score-container {
  display: flex;
  color: white;
  margin-right: 20px;
}
.score {
  margin-right: 40px;
}
