.btn-tab {
  height: 40px;
  width: 100px;
  margin: 20px;
}

.active-btn {
  border-bottom: 4px solid darkmagenta;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
