.img-display {
  height: 200px;
  width: 200px;
}
.score-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  align-items: center;
  justify-content: flex-end;
  height: 700px;
  width: 800px;
  background-size: cover;
  display: flex;

  flex-direction: column;
}
.trophy {
  height: 200px;
  width: 200px;
  margin-top: 30px;
}
.app {
  min-height: 100vh;
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-items {
  display: flex;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}
.list-img {
  display: flex;
  flex-wrap: wrap;
}
.nav-bar {
  width: 100%;
  margin-top: 0px;
}
.main-img {
  height: 300px;
}
